<header class="bg-lime-500">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-lime-500 lg:border-none">
      <div class="flex items-center">
        <a href="#">
          <img class="h-10 w-auto" src="/images/diet.png" alt="">
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="#" class="text-base font-medium text-white hover:text-lime-50"> Perfil </a>

          <a href="/places" class="text-base font-medium text-white hover:text-lime-50"> Establecimientos </a>
        </div>
      </div>
      <div class="ml-10 space-x-4">
        <a href="/auth/logout" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-lime-500 hover:bg-lime-50">Cerrar sesión</a>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      <a href="/profile" class="text-base font-medium text-white hover:text-lime-50"> Perfil </a>

      <a href="/places" class="text-base font-medium text-white hover:text-lime-50"> Establecimientos </a>
    </div>
  </nav>
</header>


<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Bienvenido</h2>
        <p class="text-xl text-gray-500">Este será tu portal personal para poder guardar cualquier lugar relacionado con comida que te guste mucho.</p>
        <p class="text-xl text-gray-500">Recuerda que puedes ingresar a tu cuenta desde cualquier dispositivo y desde cualquier navegador</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="/images/comiendo.png" />
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>{{ currentUser.username }}</h3>
                <p class="text-lime-500">{{ currentUser.email }}</p>
              </div>
            </div>
          </li>

          <!-- More people... -->
        </ul>
      </div>
    </div>
  </div>
</div>
